@import '../colors/index.css';

.custom-tooltip {
  position: fixed;
  bottom: 15px;
  right: 15px;
  border-radius: 4px;
  padding: 20px;
  min-width: 200px;
  max-width: 400px;
  color: white;
  transition: opacity ease 0.3s;
  opacity: 0;
  pointer-events: none;
  display: block;
  z-index: 10;
}

.custom-tooltip.error {
  background: var(--error-bg);
}

.custom-tooltip.success {
  background: var(--success-bg);
}

.custom-tooltip.visible {
  opacity: 1;
  pointer-events: all;
}